.skills_container {
    padding-top: 50px;
    padding-bottom: 80px;
}

.skills_card_parent {
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
}

.skills_card_wrapper {
    background-color: var(--color-white);
    border-radius: 24px;
    box-shadow: var(--default-box-shadow);
    transform: all 0.3s ease-in-out;
}

.skills_card_wrapper:hover {
    box-shadow: var(--default-hover-box-shadow);
}

.skills_card_title_wrapper {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.skills_card_icon_parent {
    padding: 10px;
    background-image: linear-gradient(to right, var(--color-blue-500),  var(--color-purple-600) );
    border-radius: 12px;
}

.skills_card_title_text {
    font-family: var(--font-sans);
    color: var(--color-black);
}

.skills_card_title_languages_parent {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-wrap: wrap;
}

.skills_card_title_languages_text {
    font-family: var(--font-sans);
    padding: 8px 16px;
    color: var(--color-slate-700);
    border-radius: 10px;
    background-color: var(--color-slate-50);
}

@media (min-width: 375px) {

    .skills_card_title_languages_text {
        font-size: 12px;
    }

    .skills_card_title_text {
        font-size: 20px;
    }

    .skills_card_parent {
        grid-template-columns: 1fr;
    }

    .skills_card_wrapper {
        padding: 16px;
    }
}

@media (min-width: 768px) {
    .skills_card_title_languages_text {
        font-size: 14px;
    }

    .skills_card_title_text {
        font-size: 24px;
    }

    .skills_card_parent {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills_card_wrapper {
        padding: 32px;
    }
}