<div class="admin_login_page">
  <div class="admin_login_card">
    <div class="admin_login_title">Admin Login</div>
    <div class="admin_login_subtitle">Manage your portfolio content</div>

    <form [formGroup]="loginForm" (ngSubmit)="submit()" class="admin_login_form">
      <label class="admin_label" for="Username">Username</label>
      <div>
        <input class="admin_input" type="text" id="Username" name="Username" formControlName="username" autocomplete="on" placeholder="Enter username" />
        <div class="admin_error" *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.invalid">
          Username is required
        </div>
      </div>

      <label class="admin_label" for="Password">Password</label>
      <div class="admin_password_wrapper">
        <input
          class="admin_input admin_input_password"
          [type]="showPassword ? 'text' : 'password'"
          id="Password"
          name="Password"
          autocomplete="on"
          formControlName="password"
          placeholder="Enter password"
        />
        <button type="button" class="admin_password_toggle" (click)="togglePassword()">
          {{ showPassword ? 'Hide' : 'Show' }}
        </button>
      </div>
      <div class="admin_error" *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid">
        Password is required
      </div>

      <div class="admin_form_actions">
        <button class="admin_button" type="submit" [disabled]="isLoading">
          {{ isLoading ? 'Signing in...' : 'Login' }}
        </button>
        <button class="admin_button_back" type="button" [disabled]="isLoading" (click)="goBack()">
          Back to Portfolio
        </button>
      </div>


      <div class="admin_error" *ngIf="errorMessage">{{ errorMessage }}</div>
    </form>
  </div>
</div>
